@page "/"

<PageTitle>Index</PageTitle>

<h1>Blob Storage Example</h1>

<ul>
    <li>Create a web service including a small web frontend where one can upload and download files.</li>
    <li>Host the service in Azure AppServices.</li>
    <li>Store the uploaded files in the cloud on Azure Blob storage.</li>
    <li>Store some metadata about the upload in a cloud-hosted database on Azure PostgreSQL</li>
    <li>
        Extra
        <ul>
            <li>Store your source code in github.</li>
            <li>Use a build pipeline which creates and deploys the application.</li>
        </ul>
    </li>
</ul>
